{% extends "layout.html" %}

{% block title %}
Strona główna
{% endblock %}

{% block main %}
{% if error %}
<p class="error">Error: {{ error }}</p>
{% endif %}

<div class="container index__conteiner">
  <div class="row index__row">
    <div class="col-md-6 col-sm-12 index__column">
      <h1>The first step to success is a good plan.</h1>
    </div>
    <div class="col-md-6 col-sm-12 index__image__column">
      <div class="row index__image__row">
        <div class="col-md-11 col-sm-8 mb-3 musaka-column">
          <img src="{{ url_for('static', filename='musaka.jpg') }}" class="w-100 h-100 image-musaka" alt="Musaka">
        </div>
        <div class="col-md-9 col-sm-4 makaroniki-column">
          <img src="{{ url_for('static', filename='makaroniki.jpg') }}" class="w-100 h-100 image-makaroniki" alt="Makaroniki">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
