html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
:: before,
:: after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin-bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/static/pexels-jess-bailey-designs-965119.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* ... reszta oryginalnego kodu ... */
